<% layout("base.ejs") -%>

<h4>Edit Video</h4>
<form method="POST">
	<input
		type="text"
		placeholder="Title"
		name="title"
		value="<%= video.title %>"
		maxLength="80"
		required
	/>
	<input
		type="text"
		placeholder="Description"
		name="description"
		value="<%= video.description %>"
		minlength="20"
		required
	/>
	<input
		type="text"
		placeholder="Hashtags, separated by comma"
		name="hashtags"
		value="<%= video.hashtags.join() %>"
		required
	/>
	<button type="submit">Save</button>
</form>
