<% layout("base.ejs") -%>
<div>
	<% if (videos.length === 0) { %>
		<div>Sorry nothing found.</div>
	<% } else { %> 
		<% for (let video of videos) { %> <%-
			include("partials/video.ejs", {video}) %>
		<% } %>
	<% } %>
</div>
