<% layout("base.ejs") -%>

<div class="videos-grid">
	<% if (videos.length === 0) { %>
		<span class="empty__message">
			Sorry. No videos found.
		</span>
	<% } else { %> 
		<% for (let video of videos) { %> <%-
			include("partials/video.ejs", {video}) %>
		<% } %>
	<% } %>
</div>
