<% layout("base.ejs") -%> <% if (errorMsg) { %>
<span><%= errorMsg %></span>
<% } %>

<form method="POST">
	<input name="name" placeholder="Name" type="text" required />
	<input name="email" placeholder="Email" type="email" required />
	<input name="username" placeholder="Username" type="text" required />
	<input name="password" placeholder="Password" type="password" required />
	<input
		name="passwordConfirm"
		placeholder="Confirm Password"
		type="password"
		required
	/>
	<input name="location" placeholder="Location" type="text" />
	<button type="submit">Join</button>
</form>
<hr />
<div>
	<span>Already have an account? </span>
	<a href="/login">Log In &rarr;</a>
</div>
