<% layout("base.ejs") -%> <% if (errMsg) { %>
<span><%= errMsg %></span>
<% } %>
<form method="POST" action="/videos/upload">
	<input type="text" placeholder="Title" name="title" maxLength="80" required />
	<input
		type="text"
		placeholder="Description"
		name="description"
		minlength="20"
		required
	/>
	<input
		type="text"
		placeholder="Hashtags, separated by comma"
		name="hashtags"
		required
	/>
	<button type="submit">Upload Video</button>
</form>
