<% layout("base.ejs") -%>

<div class="profile__data">
	<img 
		class="avatar"
		crossorigin="anonymous"
		src="<%= isHeroku ? loggedInUser.avatarUrl : `/${loggedInUser.avatarUrl}` %>"
		alt="Profile picture">
	<h3><%= user.name %></h3>
</div>

<div class="videos-grid">
	<% if (user.videos.length === 0) { %>
		<span class="empty__message">
			Sorry. No videos found.
		</span>
	<% } else { %> 
		<% for (let video of user.videos) { %> <%-
			include("partials/video.ejs", { video }) %>
		<% } %>
	<% } %>
</div>
